* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    width: 1280px;
 font-family: 'outfit';


}

/* header start here */

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 40px;
    gap: 16;
    width: 100%;
    height: 64px;
    background: #2B2A2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    font-weight: 400;
    font-size: 23px;
    line-height: 35px;
    gap: 62px;


}

.container {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 7px;
    line-height: 36px;
    font-weight: 400;
    font-size: 23px;
    line-height: 35px;
    color: #FFFFFF;

}


.container p {

    font-family: 'Outfit';
    line-height: 16px;
    font-weight: 400;
    color: #ffffff;

}


.img_cup {

    width: 20.29px;
    height: 24.95px;
    flex: none;
    order: 1;
    flex-grow: 0;
    gap: 62.28px;
}

nav {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;
    height: 32px;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;


}

a {
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;

}

.container2 {

    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 11px
}


.img_tel {

    width: 18px;
    height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}


.container2 p {

    color: #FFFFFF;
    font-weight: 600px;
    font-size: 14px;
    line-height: 16px;
    gap: 11px;
}

header button {

    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 12px 24px;
    gap: 24px;
    width: 130px;
    height: 40px;
    background: #515051;
    border-radius: 4px;
    border: none;
    margin-left: 12px;

}


.logocesta {

    width: 24px;
    height: 24px;

}

.accordion {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.question img.img_accordion {
    width: 10px;
    height: 6px;
}

/* header end here */
/*section-one start here */

.section_one {

    width: 1280px;
    height: 486px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 48px 40px;
    padding-top: 15px;

}

.container3 {

    width: 1200px;
    height: 390px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container_dad {

    width: 588px;
    height: 232px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 20px 0;
    gap: 16px;

}

.container_child {

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    padding: 10px 10px 10px 0;
    gap: 40px
}

.container_child h2 {

    width: 588px;
    height: 24px;
    font-family: 'Outfit';
    font-size: 18px;
    line-height: 24px;
    color: #2A5B45;
    text-shadow: 2px 2px 2px #b5b9b9;


}

.container_child h1 {

    display: flex;
    padding: 10px 10px 10px 0;
    font-weight: 600;
    font-size: 40px;
    line-height: 44px;
    color: #000;
    text-shadow: 2px 2px 2px #a0a3a3;

}

.container_child p {

    width: 588px;
    height: 32px;
    font-size: 14px;
    font-weight: 400;
    text-shadow: 2px 2px 2px #a0a3a3;

}



.buttsection1 {

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 16px;

}


/* bonton negro descubrir origenes */
.btn1 {

    padding: 12px 24px;
    font-size: 12px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    background-color: #000000;

}

/* bonton verde comprar cafe */
.btn2 {

    padding: 12px 24px;
    font-size: 12px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    background-color: #2A5B45;

}


.granocafe {
    width: 588px;
    height: 390px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}

/* section-one end here*/
/*section-two start here */

.section_two {

    display: flex;
    flex-direction: column;
    background-position: center center;
    height: 380px;
    background-image: url(assets/fondo.jpeg);
    background-size: cover;

}

.section_two h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 48px;
    font-size: 24px;
    height: 28px;
    font-weight: 500px;
    line-height: 28px;
    color: #ffffff;
}

/* es el padre de .card */
.container4 {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 142px 48px;
    gap: 16px;
    width: 1280px;
    height: 380px;


}

/* empiezan las card */
.container4 div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 316px;
    height: 232px;
    padding: 24px;
    background-color: #F7F5F3;
    border-radius: 5px;
}


.card {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 33px;
}

.card img {

    width: 50px;
    height: 50;
    padding: 12px;
    background-color: #2A5B45;
    border-radius: 15px;
}

/* titulo de la card */
.card h2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 16px;
    font-weight: 600;

}

/* texto de la card */
.card p {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-weight: 400;
    line-height: 16px;
    font-size: 14px;

}

/* iconos verdes */
.img_card img {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
}

/*section-two end here */
/*section-three start here */

.section_three {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px 44px;
    gap: 40px;
    height: 603px;

}


.cafes {

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.cafes>div {

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #E3DED7;
    border-radius: 8px;
    box-shadow: 1px 4px #f9f7f9;
    width: 282px;
    gap: 24px;
    padding: 24px 0px;


}


.section_three h3 {

    width: 120px;
    height: 28px;
    font-weight: 500;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #2A5B45;
    text-shadow: 2px 2px 2px rgb(181, 185, 185);

}



.cafes h4 {

    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color:black;
}

.button_section3 {

    width: 60px;
    height: 32px;
    padding: 8px 8px;
    font-size: 14px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    background-color: rgba(42, 91, 69, 0.7);
}

/* hover cards */
.cafes :hover {

    background-color: rgb(242, 241, 241);

}

/* hover boton añadir */
.cafes>button:hover {

    background-color: #2A5B45;

    
}


.section_three div {

    display: flex;
    gap: 19px;
}

/* enlace  ver todos*/
.section_three a {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-decoration: underline;
    text-shadow: 2px 2px 2px rgb(181, 185, 185);

}

/*section-three end here*/
/*section four start here  */

.section_four {

    height: 621px;
    width: 1280px;
    padding: 20px 320px;
    background-color: #2A5B45;
    margin-top: 40px;
}

/* aqui se ordena el texto */
.question h2 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px;
    width: 668px;
    font-weight: 500;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #FFFFFF;

}


.question1>div {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 24px;
    width: 668px;
    border-radius: 10px;
    border-radius: 10px;
    margin-top: 16px;
    background-color: #FFFFFF;

}



.question1 h3 {

    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #2B2A2B;

}

.line {
    width: 100%;
    height: 16px;
    border-bottom: 1px solid #E3DED7;
    margin-bottom: 5px;
}

.question1 p {

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 12px 0px;
}


.resolvequestions {

    display: flex;
    justify-content: center;
    gap: 19px;
    padding-top: 24px;
}

/* enlace resolvemos tus dudas*/
h4 {
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline;

}

.question img {

    width: 18px;
    height: 18px;
}


/* section-four end here */
/* section-five start here */

.section-five {
    height: 480px;
    display: flex;
    flex-direction: row;
    background: #F7F5F3;
    justify-content: space-between;
}

.coffeshop_info {

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    width: 652px;
    padding: 40px;
}

.coffeshop_info>h2 {

    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    color: #2A5B45;
}

.coffeshop_info>p {

    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: #111827;


}


.section-five a {
    line-height: 16px;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    text-decoration: underline;
}


.img_coffeshop img {
    width: 588px;
    height: 390px;
    padding: 40px;
}


/* section-five end here */
/* section-six start here*/


/* contac info */
.section-six {

    display: flex;
    flex-direction: row;
    background: #E3DED7;

}


.contact_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
    width: 612px;
    gap: 16px;
}


.contact_info_first_div p {
    padding: 10px 0px;
}

.contact_info h2 {

    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
}

.contact_info p {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #6B7280;
}


.phone,
.mail,
.offers {

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.mail img {

    width: 18px;
    min-height: 18px;
}

.phone img {

    width: 18px;
    min-height: 18px;

}


.offers {

    color: #111827;
}

.offers a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000;
    text-decoration: underline;
}


/* form */
.div_form {

    background: #fff;
    width: 588px;

}

.div_form form {
    padding: 52px 40px 0px 67px;
}

.div_form label {
    width: 100%;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #374151;
    display: block;
    padding-bottom: 4px;
}

.div_form input {
    width: 100%;
    height: 34px;
    padding-top: 4px;
}

.div_form textarea {
    width: 100%;
    height: 152px;
}


.form_checkbox {
    width: 422px;
    display: flex;
    flex-direction: row;
    gap: 6px;

}

.checkbox {

    width: 15px;
    height: 15px;
    border: 1px solid #d7d7d8;
    border-radius: 1px;
    display: flex;
    flex-direction: row;
    gap: 12px;

}

.form_checkbox label {

    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    color: #374151;
    padding-top: 8px;


}

.form_checkbox a {
    font-weight: 600;

}



.sendbutton {

    width: 90px;
    height: 40px;
    color: #FFFFFF;
    background: #2A5B45;
    border-radius: 4px;
    border: none;

}

.btnIndex {
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 20px 8px;
}


.form_fullname,
.form_email,
.form_phone,
.form_texarea {
    padding: 10px 0px;
}


.div_form input[type=checkbox] {
    width: 10px;

}

.form_checkbox a {
    color: #000;
    text-decoration: underline;

}

/* section-six end here */
/* section-seven start here */


.section_seven div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    background-color: #1F1815;
  


}

.logo_footer div {

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    gap: 16px;
    padding: 28px 40px;


}

tex cafe de altura
.logo2 {

    font-weight: 400;
    font-size: 23px;
    line-height: 36px;
    color: #FFFFFF;
    width: 131px;
    height: 34px;


}

/* enlaces */

.help div {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap:16px;
    border-radius: 4px;
    background-color: #515051;



}

.help p {

    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #FFFFFF;

}


.help a {

    padding: 0px;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: none;
 
   



}

/* elements center and left */
.options {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  
}

.options, .options2>p {

    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
    color: #FFFFFF;

}

/* derechos */
.section_seven2 {

    background-color: #2B2A2B;
    text-align: center;
    padding: 12px 38px 12px 54px;
    height: 40px;
}

.section_seven2>p{

    color: #FFFFFF;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;

}